In [1]:
# !pip install tensorflow
# !pip install pandas-datareader
# !pip install yfinance

In [6]:
#sdasdasd
# Importing the libraries
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout, GRU, Bidirectional #, CuDNNLSTM

import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    from pandas_datareader import data as pdr
    import yfinance as yf

In [7]:
share = 'SPY'
yf
dataset = yf.download(share,"2003-3-14") #, start="2017-01-01"
dataset = dataset.drop(columns=['Open','High', 'Low','Adj Close','Volume'])
dataset.head()

[*********************100%***********************]  1 of 1 completed

                Close
Date
2003-03-14  84.129997
2003-03-17  86.779999
2003-03-18  87.290001
2003-03-19  87.959999
2003-03-20  88.150002

In [8]:
dataset['MA'] = dataset.rolling(window=5).mean()
dataset[:10]

                Close      MA
Date
2003-03-14  84.129997     NaN
2003-03-17  86.779999     NaN
2003-03-18  87.290001     NaN
2003-03-19  87.959999     NaN
2003-03-20  88.150002  86.862
2003-03-21  89.669998  87.970
2003-03-24  86.690002  87.952
2003-03-25  87.519997  87.998
2003-03-26  87.080002  87.822
2003-03-27  87.150002  87.622

In [9]:
print(dataset.head(1))
print("\n", len(dataset))

                Close  MA
Date
2003-03-14  84.129997 NaN

 4387

In [10]:
df2 = dataset.iloc[::30, :]
df2.head()

                 Close          MA
Date
2003-03-14   84.129997         NaN
2003-04-28   91.790001   91.380000
2003-06-10   99.250000   99.114001
2003-07-23   99.239998   98.939999
2003-09-04  103.410004  102.354002

In [11]:
invPerMonth = 1000
total =0
rem=0 
shares=0 

for i, row in df2.iterrows():
   # print(str(i) +" | "+ str(row.Close.round(2)))
    numShares = math.floor((invPerMonth)/row.Close.round(2))
    shares+=numShares
   #  rem = invPerMonth -(row.Close.round(2) * numShares)
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("rem:" , rem)

print("num of shares" , shares)
print("num of shares * last closing ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail

num of shares 910
num of shares * last closing  306533



 192,000 saved in total. apx 879 shares worth 290.16 each, for a total of $255050.64 for a ROI of 255050.64/192000 = 132.84%
 
 with remainder being invested, we should get the expected  %236 (on the closing of 5/29/2019)

In [12]:
invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    numShares = math.floor((invPerMonth)/row.Close.round(2))
    shares+=numShares
    invPerMonth -= (row.Close.round(2) * numShares)
    
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail

invPerMonth:  1182.799999999998
num of shares 988
num of shares * last closing  332807

192,000 saved in total. apx 879 shares worth 290.16 each, for a total of $255050.64 for a ROI of 255050.64/192000 = 132.84%

with remainder being invested, we should get the expected %236 (on the closing of 5/29/2019)


264913/120000 = 220.76%

In [13]:
dataset['MA'] = dataset.rolling(window=30).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) <= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  2119.0299999999984
num of shares 972
num of shares * last closing =  327418
total:  329537.02999999997

above is the stratergy is which be

In [14]:
dataset['MA'] = dataset.rolling(window=14).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) <= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  2119.0299999999984
num of shares 972
num of shares * last closing =  327418
total:  329537.02999999997

In [15]:
dataset['MA'] = dataset.rolling(window=7).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) <= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  2119.0299999999984
num of shares 972
num of shares * last closing =  327418
total:  329537.02999999997

In [16]:
dataset['MA'] = dataset.rolling(window=1).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) <= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  2119.0299999999984
num of shares 972
num of shares * last closing =  327418
total:  329537.02999999997

if we buy only higher then the moving average

In [17]:
dataset['MA'] = dataset.rolling(window=20).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) >= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  1124.0300000000016
num of shares 989
num of shares * last closing =  333144
total:  334268.03

In [18]:
dataset['MA'] = dataset.rolling(window=90).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) >= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  1124.0300000000016
num of shares 989
num of shares * last closing =  333144
total:  334268.03

In [19]:
dataset['MA'] = dataset.rolling(window=30).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) >= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  1124.0300000000016
num of shares 989
num of shares * last closing =  333144
total:  334268.03

In [20]:
dataset['MA'] = dataset.rolling(window=20).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) >= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  1124.0300000000016
num of shares 989
num of shares * last closing =  333144
total:  334268.03

In [21]:
dataset['MA'] = dataset.rolling(window=7).mean()


invPerMonth = 1000
total =0
shares=0 

for i, row in df2.iterrows():
   # print("\n" + str(i) +" | "+ str(row.Close.round(2)))
    if((row.Close.round(2) >= row.MA.round(2)) and not math.isnan(row.MA.round(2))):
      numShares = math.floor((invPerMonth)/row.Close.round(2))
      shares+=numShares
      invPerMonth -= (row.Close.round(2) * numShares)
      #print("\n close: " + str(i) +" | "+ str(row.Close.round(2)))
      #print(" MA:    "+str(i) +" | "+ str(row.MA.round(2)))
    invPerMonth += 1000
   # print("numShares:" , numShares)
   # print("shares:" , shares)
   # print("invPerMonth:" , invPerMonth)

print("invPerMonth: ",invPerMonth)
print("num of shares" , shares)
print("num of shares * last closing = ",int(dataset.tail(1).Close*shares)) #dataset.tail, not df2.tail
print("total: ", (int(dataset.tail(1).Close*shares)+invPerMonth))

invPerMonth:  1124.0300000000016
num of shares 989
num of shares * last closing =  333144
total:  334268.03